<div class="login-container">

    <h3>Login</h3>
    <!-- <form (ngSubmit)="onSubmit()" #loginForm="ngForm"> -->
    <form>

      <div>
        <label for="username">Username:</label>
        <input type="text" name="username" [(ngModel)]="username" required />
      </div>

      <div>
        <label for="password">Password:</label>
        <input type="password" name="password" [(ngModel)]="password" required />
      </div>
  
      <button type="submit">Submit</button>
    </form>

  </div>